src/main/webapp/WEB-INF/HolidayRequest.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://mycompany.com/hr/schemas" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="HolidayRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Holiday">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:date" name="StartDate"/>
              <xs:element type="xs:date" name="EndDate"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Employee">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:byte" name="Number"/>
              <xs:element type="xs:string" name="FirstName"/>
              <xs:element type="xs:string" name="LastName"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>